# Data files — too large for GitHub, download from Kaggle
data/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/
*.egg

# Jupyter
.ipynb_checkpoints/

# Virtual environments
venv/
env/
.venv/

# OS
.DS_Store
Thumbs.db
